<footer class="bullseye">
  <mat-toolbar color="primary">
  <!-- <mat-toolbar color="primary"> --> <!-- yields purple -->
  <!-- <mat-toolbar color="accent"> --> <!-- yields yellow -->
  <!-- <mat-toolbar color="warn"> --> <!-- yields dark orange -->
    
    <mat-toolbar-row>
      <!-- <span class='spacer'></span> -->
      
      <span class="footerspan">&copy; <a href="https://github.com/donLucho?tab=repositories" target="_blank" rel="noopener noreferrer" mat-button>GitHub repositories</a> | <a href="https://gitlab.com/users/artavia/projects" target="_blank" rel="noopener noreferrer" mat-button>GitLab projects</a></span>

      <span class="example-spacer"></span>

      <!-- <span class='spacer'></span> -->
    </mat-toolbar-row>

    <!-- <mat-toolbar-row>
      <span>Some moot third point&hellip; </span>
      <span class="example-spacer"></span>
    </mat-toolbar-row> -->

  </mat-toolbar>
</footer>
  
<!-- <p>custom-footer works!</p> -->
