input.mat-input-element[placeholder] {
  color: inherit;
}

// input.mat-input-element[href^="http://"] {}
// input.mat-input-element::placeholder {
  // position: relative;
  // transform: translateY(30px);
  // color: rgba(160, 82, 45, .7);
// }

// mat-card{ width: 20em; }
form { display: flex; flex-direction: column; }
.error { color: red; }
.error-msg { display: block; position: absolute; font-size: 75%; bottom: -2em; }
.mat-input-container { margin-bottom: .5em; }


.register-form {
  min-width: 150px;
  width: 100%;
}

.field-full-width {
  width: 100%;
}
