<app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error>

<div *ngIf="isError === null">
  <!-- <br> -->
  
  <!-- <mat-divider></mat-divider> -->

  <!-- <br> -->

  <mat-card>
    <mat-card-title>Login</mat-card-title>

    <mat-card-content>

      <form class="login-form" [formGroup]="loginForm" >
        
        <mat-form-field class="field-full-width" [ngClass]="{'error': loginForm.controls['email'].errors && !loginForm.controls['email'].pristine}" >
          
          <label for="email">Email</label>
          <input type="email" matInput formControlName="email" placeholder="Email" required>
          
          <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="error-msg">
            <div [hidden]="!loginForm.controls['email'].errors.required">Email is required.</div>

            <div [hidden]="!loginForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
          </div>

        </mat-form-field>
        
        <mat-form-field class="field-full-width" [ngClass]="{'error': loginForm.controls['password'].errors && !loginForm.controls['password'].pristine}">
          
          <label for="password">Password</label>
          <input type="password" matInput formControlName="password" placeholder="Password" required>
          
          <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="error-msg">
            <div [hidden]="!loginForm.controls['password'].errors.required">Password is required.</div>
          </div>

        </mat-form-field>

      </form>
      <div class="error">
        {{ customErrorSkerdoodle }}
      </div>

    </mat-card-content>

    <mat-card-actions align="end">
      <button
      type="submit" 
      (click)="loginUser( loginForm.value )" 
      [disabled]="loginForm.pristine || loginForm.invalid" 
      mat-raised-button 
      class="btn" 
      color="primary" 
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>

</div>

<!-- <app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error> -->

<!-- <p>login works!</p> -->