.page-wrap {
  max-width: calc( 98% - 16px - 16px ); padding: 0 16px; margin: 0 auto; 
  flex: none;
}

.yearcontainer {
  max-width: calc( 90% - 24px - 24px ); padding: 0 24px; margin: 0 auto; 
}
/* flex display */
.yearcontainer:before { content: ""; display: table; } 
.yearcontainer { display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-around; }
.yearcontainer:after { content: "."; display: block; height: 0; visibility: hidden; clear: both; }

/* .ragcontainer { flex: initial; } */ /* commented originally */
.ragcontainer { display: flex; box-sizing: border-box; }
/* Render items as columns - uncommenting this turns items into a flexible column */
/* .ragcontainer { flex-direction: column; flex-wrap: wrap; }  */

/* 
.comicanchor { display: flex; flex-direction: row; justify-content: space-around; }
.comicanchor { flex-wrap: wrap; } 
*/

.example-card {
  max-width: 400px;
}

.example-card.mat-card {
  display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap; 
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */
