<app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error>

<div *ngIf="isError === null">
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Members Section</h3>
      <h4>View Member Events</h4>
    </section>

    <mat-divider></mat-divider>

    <br>

    <!-- <app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error> -->

    <!-- <p *ngIf="specialEvents">{{ specialEvents | json }}</p> -->

    <div class="page-wrap">
      
      <div class="yearcontainer">
        
        <div class="ragcontainer">
  
          <mat-card class="example-card" *ngFor="let event of specialEvents">
            <mat-card-header>
              <mat-card-title>{{ event.name }}</mat-card-title>
              <mat-card-subtitle>{{ event.date | date:'shortDate' }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ event.description }}</p>
            </mat-card-content>
          </mat-card>
          
        </div>
      </div>
    </div>

  </mat-card>
</div>

<!-- <app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error> -->

<!-- <p>special-events works!</p> -->