
<mat-toolbar color="primary">
<!-- <mat-toolbar color="primary"> --> <!-- yields purple -->
<!-- <mat-toolbar color="accent"> --> <!-- yields yellow -->
<!-- <mat-toolbar color="warn"> --> <!-- yields dark orange -->

  <mat-toolbar-row>
    <span>What is up with &quot;the issue app<em>?!?!</em>&quot;</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    
    <span><button mat-button color="accent" routerLink="/list">list</button></span>
    <span><button mat-button color="accent" *ngIf="authService.loggedIn()" routerLink="/create">create</button></span>

    <!-- <span><button mat-button color="accent" routerLink="/events">events</button></span> -->
    <span><button mat-button color="accent" routerLink="/special">members</button></span>

    <span><button mat-button color="accent" *ngIf="!authService.loggedIn()" routerLink="/login">login</button></span>
    <span><button mat-button color="accent" *ngIf="!authService.loggedIn()" routerLink="/register">register</button></span>
    <span><button mat-button color="accent" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()" >logout</button></span>

    <span class="example-spacer"></span>
    
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <span>Some moot third point&hellip; </span>
    <span class="example-spacer"></span>
  </mat-toolbar-row> -->

</mat-toolbar>

<!-- <p>toolbar-multirow works!</p> -->
