<app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error>

<div *ngIf="isError === null">
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Update Issue</h3>
    </section>

    <mat-divider></mat-divider>

    <br>

    <form [formGroup]="updateForm" class="edit-form">
      
      <mat-form-field class="field-full-width">
        
        <input matInput placeholder="Issue Title" formControlName="title" #title />
        
        <!-- <mat-error *ngIf="updateForm.controls['title'].errors.required">
          Title is <strong>required</strong>
        </mat-error> -->

      </mat-form-field>

      <mat-form-field class="field-full-width">
        
        <input matInput placeholder="Responsible" formControlName="responsible" #responsible />
        
        <!-- <mat-error *ngIf="updateForm.controls['responsible'].errors.required">
          Name of responsible party is <strong>required</strong>
        </mat-error> -->

      </mat-form-field>

      <mat-form-field class="field-full-width">
        
        <input matInput placeholder="Description" formControlName="description" #description />
        
        <!-- <mat-error *ngIf="updateForm.controls['description'].errors.required">
          A basic description is <strong>required</strong>
        </mat-error> -->

      </mat-form-field>

      <mat-form-field class="field-full-width">
        
        <mat-select placeholder="Severity" formControlName="severity" #severity>
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
        
        <!-- <mat-error *ngIf="updateForm.controls['severity'].errors.required">
          Severity is <strong>required</strong>
        </mat-error> -->

      </mat-form-field>

      <mat-form-field class="field-full-width">
        
        <mat-select placeholder="Status" formControlName="status" #status>
          <mat-option value="Open">Open</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Done">Done</mat-option>
        </mat-select>
        
        <!-- <mat-error *ngIf="updateForm.controls['status'].errors.required">
          Status is <strong>required</strong>
        </mat-error> -->

      </mat-form-field>

      <mat-divider></mat-divider>
      <br><br>

      <button mat-raised-button color="accent" routerLink="/list">Back</button>

      &nbsp;
      
      <!-- <button 
      type="submit" 
      (click)="updateIssue(title.value,responsible.value,description.value,severity.value,status.value)" 
      [disabled]="updateForm.pristine || updateForm.invalid" 
      mat-raised-button 
      color="primary">
        Save
      </button> -->

      <button 
      type="submit" 
      (click)="updateIssue( updateForm.value )" 
      [disabled]="updateForm.pristine || updateForm.invalid" 
      mat-raised-button 
      color="primary">
        Save
      </button>

    </form>

    <!-- <div class="error">
      {{ customErrorSkerdoodle }}
    </div> -->

  </mat-card>
</div>


<!-- <p>edit works!</p> -->