<app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error>

<div *ngIf="isError === null">
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Create a New Issue</h3>
    </section>

    <mat-divider></mat-divider>

    <br>

    <form [formGroup]="createForm" class="create-form">
      
      <mat-form-field class="field-full-width">
        
        <input matInput placeholder="Issue Title" formControlName="title" #title />
        
        <!-- <mat-error *ngIf="createForm.controls['title'].errors.required">
          Title is <strong>required</strong>
        </mat-error> -->

      </mat-form-field>

      <mat-form-field class="field-full-width">
        
        <input matInput placeholder="Responsible" formControlName="responsible" #responsible />
        
        <!-- <mat-error *ngIf="createForm.controls['responsible'].errors.required">
          Name of responsible party is <strong>required</strong>
        </mat-error> -->

      </mat-form-field>

      <mat-form-field class="field-full-width">
        
        <input matInput placeholder="Description" formControlName="description" #description />
        
        <!-- <mat-error *ngIf="createForm.controls['description'].errors.required">
          A basic description is <strong>required</strong>
        </mat-error> -->

      </mat-form-field>

      <mat-form-field class="field-full-width">
        
        <mat-select placeholder="Severity" formControlName="severity" #severity>
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
        
        <!-- <mat-error *ngIf="createForm.controls['severity'].errors.required">
          Severity is <strong>required</strong>
        </mat-error> -->

      </mat-form-field>

      <mat-divider></mat-divider>
      <br><br>

      <button mat-raised-button color="accent" routerLink="/list">Back</button>

      &nbsp;

      <!-- <button 
      type="submit" 
      (click)="addIssue(title.value,responsible.value,description.value,severity.value)" 
      [disabled]="createForm.pristine || createForm.invalid" 
      mat-raised-button 
      color="primary">
        Save
      </button> -->

      <button 
      type="submit" 
      (click)="addIssue( createForm.value )" 
      [disabled]="createForm.pristine || createForm.invalid" 
      mat-raised-button 
      color="primary">
        Save
      </button>
      
    </form>

    <!-- <div class="error">
      {{ customErrorSkerdoodle }}
    </div> -->

  </mat-card>
</div>

<!-- <p>create works!</p> -->