<app-custom-error *ngIf="isError !== null" [isError]="isError"></app-custom-error>

<div *ngIf="isError === null">
  <br>
  <mat-card>
    
    <button mat-raised-button color="primary" routerLink="/create" *ngIf="authService.loggedIn()">
      Create New Issue
    </button>
    
    <br><br>
    <mat-divider></mat-divider>
    <br>

    <table mat-table [dataSource]="issues">
      
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
      </ng-container>

      <ng-container matColumnDef="responsible">
        <th mat-header-cell *matHeaderCellDef>Responsible</th>
        <td mat-cell *matCellDef="let element"> {{ element.responsible }} </td>
      </ng-container>

      <ng-container matColumnDef="severity">
        <th mat-header-cell *matHeaderCellDef>Severity</th>
        <td mat-cell *matCellDef="let element"> {{ element.severity }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" *ngIf="authService.loggedIn()" (click)="editIssue(element._id)">Edit</button>
          <button mat-button color="warn" *ngIf="authService.loggedIn()" (click)="deleteIssue(element._id)">Delete</button>
          <button mat-button color="primary" *ngIf="!authService.loggedIn()">Edit</button>
          <button mat-button color="warn" *ngIf="!authService.loggedIn()">Delete</button>
        </td>
      </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>
</div>

<!-- <p>list works!</p> -->
